<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shelf-modal" aria-hidden="true"
    id=<%= `shelf${data.shelf_id}-${data.shelf_side}` %>>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shelf-modal"> <%= data.shelf_id +" " + data.shelf_side %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id=<%= `${data.shelf_id}-${data.shelf_side}` %>>
                <img id=<%= `shelf-${data.shelf_id}-${data.shelf_side}-image`%>
                    src=<%=`/images/shelf/shelf_${data.shelf_id}_${data.shelf_side}.jpg` %>>
            </div>
        </div>
    </div>
</div>

<!--
<img usemap=<%=`#${data.shelf_id}-${data.shelf_side}-map` %>src=<%=`/images/shelf/shelf_${data.shelf_id}_${data.shelf_side}.jpg` %>>
<map name=<%=`${data.shelf_id}-${data.shelf_side}-map` %>>
    <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
    <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
    <area shape="circle" coords="337,300,44" alt="Coffee" href="coffee.htm">
</map>
-->