<a href="" data-toggle="modal" data-target=<%= `#shelf${data.shelf_id}-${data.shelf_side}` %>>
    <img class="shelf-child" src=<%= `/images/shelf-tab/${data.shelf_id}.png` %>>
</a>
<%- include('_image_modal', { data: { "shelf_id": data.shelf_id, "shelf_side": data.shelf_side } }); %>