<html>

<head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>
    <main>
        <h1>Dashboard for showing pictures!</h1>

        <div id="container">
            <% for(let shelf_id of Object.keys(items_info)){ %>
            <div class="row" id=<%= `shelf-${shelf_id}` %>>
                <div class="shelf left" id=<%= `shelf-${shelf_id}-left` %>>
                    <%- include('_shelf_row_content', {data: {"shelf_id": shelf_id, "shelf_side": "left"}}); %>
                </div>

                <div class="shelf right" id=<%= `shelf-${shelf_id}-right` %>>
                    <%- include('_shelf_row_content', {data: {"shelf_id": shelf_id, "shelf_side": "right"}}); %>
                </div>

            </div>
            <% } %>
        </div>


        <div class="no-class">
            <span data-toggle="tooltip" title="hello">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Shelf 01</button>
            </span>
            <div id="demo" class="collapse">
                We will hide this content on button click
            </div>
        </div>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/esm/popper.min.js"
        integrity="sha256-aKl7D1NExV9o5pcztGgOpwy6zeZ+TDSZNaRB5IU7aB8=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/b5f48b0055.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/5.0.2/pusher.min.js"
        integrity="sha256-vOxviKM/QBcMYxoY51Rbfk1ePvAeH/PNSRLv1egfhts=" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="javascript/dashboard.js"></script>
</body>

</html>