<html>

<head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header id="body-header" class="invitation display-4 text-center text-muted">
        Simulator
    </header>
    <!-- class="border border-seconddary p-3-->
    <main class="mx-auto" style="width: 500px;">
        <section id="form-section">

            <div id="first-form" class="border border-secondary p-2">
                <form id="item-form" enctype="multipart/form-data" method="post" action="/add-item">

                    <div id="shelf-id-specs" class="p-2 text-center">

                        <input type="radio" class="shelf_id" id="shelf_1" name="shelf_id" value="1" />
                        <label for="shelf_1">Shelf 1</label>

                        <input type="radio" class="shelf_id" id="shelf_2" name="shelf_id" value="2" />
                        <label for="shelf_2">Shelf 2</label>

                        <input type="radio" class="shelf_id" id="shelf_3" name="shelf_id" value="3" />
                        <label for="shelf_3">Shelf 3</label>
                    </div>
                    <div id="shelf-side-specs" class="p-2 text-center">

                        <input type="radio" class="shelf_side" id="shelf_left" name="shelf_side" value="left" />
                        <label for="shelf_left">Shelf Left</label>

                        <input type="radio" class="shelf_side" id="shelf_right" name="shelf_side" value="right" />
                        <label for="shelf_right">Shelf Right</label>

                    </div>
                    <div>
                        <label for="fs_browser"></label>
                        <input type="file" id="fs_browser" name="imageUpload">
                        <!--accept="image/*" value="" />-->
                    </div>
                </form>
            </div>
        </section>


        <section id="buttons" class="border border-secondary p-3">

            <div class="col-md-6 text-center">
                <button id="add-shelf-item" class="button btn btn-primary btn btn-space center-block">

                    <i class="fas fa-plus"></i>
                    Add Item</button>
            </div>

            <div class="col-md-6 text-center">
                <button id="delete-shelf-items" class="button btn btn-primary btn btn-space center-block">
                    <i class="fas fa-trash"></i>
                    Delete Items</button>
            </div>

        </section>

        <section class="shelf-item-list">
            <div id="container-list">
                <table id="shelf-item-table" class="table table-bordered">
                    <% for(let item of items_arr){ %>

                    <tr class="shelf-item-list-row">
                        <td class="shelf-item-list-cell" id=<%= item.id %>>

                            <label class="shelf-item-label" for=<%= `shelf-item-${item.id}` %>><input type="checkbox"
                                    class="shelf-item-obj" name="content"
                                    id=<%= `shelf-item-${item.id}` %>><%=   "Shelf " + item.shelf_id + " Side "  + item.shelf_side %>
                            </label>
                        </td>
                    </tr>

                    <%} %>
                </table>
            </div>
        </section>

    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/b5f48b0055.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="javascript/script.js"></script>

</body>

</html>