#container{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    padding: 5px;
    margin: 40px;
    flex: 1 1 auto;
    text-align: center;   
    align-items: center;
    
    justify-items: center; 
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    vertical-align: bottom;
    box-shadow: 0 0 10px #ccc;
}

img:hover{
    opacity: 0.8;
    transition: color 1s border-bottom 4s;
}

.shelf{
    border: 7px white solid;
    height: 25vh;
    width: 25vw;
    
    align-items: center;
    flex-grow: 1;
    
}

