body{
    color: green;
    align-items: center;
}

#buttons{
    display: flex;
}


#body-header{
    color: black;
}

.button:hover{
    
    color:lightgray;
    border-bottom: 1px solid white;
    transition: color 0.5s border-bottom 4s;
}

.btn-space {
    margin-right: 5px;
    align-items: center;
}

#container-specs{
    display: flex;
    justify-content: center;
}

